body {
    margin: 0;
    font-family: 'Times New Roman';
    background-image: url(fundocad1.avif);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#topo {
    background-color: #38454d;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
}

main {
    padding-top: 95px;
}

.botao {
    background-color: rgba(189, 189, 189, 0.856);
    border: solid rgba(43, 43, 43, 0.267);
    border-radius: 5px 0px 0px 5px;
    height: 33px;
}

.input-group-prepend {
    margin-right: -1px;
}

.form-control {
    border: solid rgba(43, 43, 43, 0.466);
    border-radius: 0px 5px 5px 0px;
    height: 25px;
}

.table-busca {
    border-collapse: collapse;
    margin: 30px;
    width: calc(100% - 60px);
    border: solid 2px #505b62;
    box-shadow: 0 1px 2px #cbcbcb;
}

.table-busca thead {
    border-bottom: solid 2px #505b62;
    background-color: #38454dde;
    border: none;
    color: white;
}

.table-busca thead tr {
    border-bottom: none;
}

.table-busca tbody {
    background-color: #d9d9d9d1;
}

.table-busca tbody tr {
    border-bottom: solid 1px gray;
}

.table-busca td {
    padding: 10px;
    width: calc(100% / 4);
}

.input-group {
    display: flex;
    display: flex;
    justify-content: right;
    /* box-shadow: #00000062 6px 6px 6px; */
    padding: 5px;
    border-radius: 6px;
    background-color: #38454de3;
    margin: 10px;
}

#Conteudohome {
    margin-inline: 20px;
    display: flex;
    justify-content: right;
}

section {
    justify-content: space-between;
}

#titlecont {
    font-family: 'Avenir Next', 'Roboto', 'Verdana';
    font-weight: bolder;
    margin-top: 0;
    color: #ffd900;
}

a {
    margin: 0 .5rem;
    justify-content: center;
}

#redes {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

#menu,
.menunome,
ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 0px;
}

.menunome {
    font-family: 'Avenir Next', 'Roboto', 'Verdana';
    color: aliceblue;
    font-size: 15px;
    display: flexbox;
    margin-right: 3%;
    text-decoration: none;
    flex-direction: row;
    width: 10em;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listdirecao {
    text-align: center;
    justify-content: space-between;
}

.direcao {
    text-decoration: none;
    color: #ffd900;
}

#logo {
    display: block;
    width: 10em;
}