body {
    margin: 0;
    font-family: 'Times New Roman';
    background-image: url(fundo1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}




header {

    background-color: #38454d;
    padding-left: 20px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
}

#Conteudohome {
    
    margin-inline: auto;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: nowrap;


}




#textcont{
    font-size:16px;
    color: #ffffff;
}
#conteudo{
    display: flexbox;
    margin-top: 180px;
    box-shadow: #000 6px 6px 16px;
    padding: 20px;
    border-radius: 16px;
    text-align:justify;
    justify-items: center;
    background-color: rgba(43, 43, 43, 0.87);
    width: 50em;

}




#titlecont {
    font-family: 'Avenir Next', 'Roboto', 'Verdana';
    
    font-weight: bolder;
    margin-top: 0;
    color: #ffd900;
}


section{
    
    justify-content: space-between;
}

li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
  
   
}

a {
    margin: 0 .5rem;
    justify-content: center;
}
#menu, .menunome, ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 0px;
}
.menunome{
font-family: 'Avenir Next', 'Roboto', 'Verdana';
color: aliceblue;
font-size: 15px;
display: flexbox;
margin-right: 3%;
text-decoration: none;
flex-direction: row;
width: 10em;

}
#topo {
    background-color: #38454d;
  
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
}

.listdirecao{
    
    text-align: center;
    justify-content: space-between;
 
}

.direcao{
    

    
    text-decoration: none;
    color: #ffd900;

}

#redes{
    display: flex;
    align-items: center;
    margin-right: 3%;
}

#logo {
    display: block;
    width: 10em;
}

