body {
    margin: 0;
    font-family: 'Times New Roman';
    background-image: url(fundo1.jpg);
    background-size: cover;
}

header {

    background-color: #38454d;
    padding: 18px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    width: 100%;
}

#login {
    width: 12em;
    height: 9em;
    box-shadow: #000 6px 6px 16px;
    padding: 20px;
    border-radius: 16px;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.904);
    text-align: center;
}

#ContainerLogin {
    height: 41em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tamanhopersonagem {
    font-size: 30px;

}

.mb-3 {
    margin-bottom: 1rem !important;
}

.input-group-prepend {
    margin-right: -1px;
    display: flex;

}

/* caixa de texto*/
.input-group-text {
    margin-left: 60px;
    display: block;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

/* caixa de texto*/


#btnConf {
    padding: 10px 50px;
    font-size: large;
    border: #38454d solid 1px;
    background-color: #ffd900;
    border-radius: 12px;
    transition-duration: 400ms;
}

#btnConf:hover {
    background-color: #38454d;
    cursor: pointer;
    color: #ffd900;
    transition-duration: 400ms;
}

#btn {
    width: 72%;
    height: 1%;

    justify-content: center;
    align-items: end;

    display: flex;


    margin-left: 18%;
    margin-right: 18%;

}


#titleLogin {
    font-family: 'Avenir Next', 'Roboto', 'Verdana';
    font-size: 25px;
    font-weight: bolder;
    margin-top: 0;

}



#reg {
    display: flex;
    justify-content: center;
    font-size: medium;
    padding: 14px 10px;
    bottom: 100px;


}

#textreg {
    margin-left: 18%;
    margin-right: 18%;
}

#linkReg {

    color: #38454d;
    text-decoration: none;
    font-family: 'Avenir Next', 'Roboto', 'Verdana';
    font-size: 12px;
}

#linkReg:hover {
    color: #000;

}

.form-control {
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
    margin-right: 60px;

}

input:invalid {
    border: 4px 4px red;
}

input:valid {
    border: 4px 4px green;
}

#msgErro {
    font-size: large;
    color: red;
    font-weight: 600;
}

header #redes a {
    margin: 0 .5rem;
}

#redes{
    display: flex;
    align-items: center;
    margin-right: 3%;
}

#logo {
    display: block;
    width: 10em;
}