<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_2a1459c01c39fcc420985ab058fb9fab {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.css"/>
</head>
<body>
    
    
     <div style="position: fixed; 
     bottom: 5px; left: 5px; width: 200px; height: 200px; 
     border: 2px solid grey; z-index: 9999; font-size: 18px;
     background-color: white; text-align: center; padding: 10px;
     border-radius: 6px;
     ">&nbsp; <b style="font-size: 22px">Legenda</b> <br>
     &nbsp; Buraco &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#d53e2a"></i><br>
     &nbsp; Semáforo &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#36a3d3"></i><br>
     &nbsp; Vazamento &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#6eaa25"></i><br>
     &nbsp; Obstrução &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#2e2e2e"></i><br>
      </div>
     
    
     <button style="position: fixed; ">Confirmar</button>
     
    
            <div class="folium-map" id="map_2a1459c01c39fcc420985ab058fb9fab" ></div>
        
</body>
<script>
    
    
            var map_2a1459c01c39fcc420985ab058fb9fab = L.map(
                "map_2a1459c01c39fcc420985ab058fb9fab",
                {
                    center: [-22.2127829, -49.9557924],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_91821c6ed4b051dfe42f3a830fc29878 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_91821c6ed4b051dfe42f3a830fc29878.addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    

            var geocoderOpts_geocoder_70b77881908e6aa770ab9c8917454515 = {"collapsed": false, "defaultMarkGeocode": true, "position": "topright", "provider": "nominatim", "providerOptions": {}, "zoom": 11};

            // note: geocoder name should start with lowercase
            var geocoderName_geocoder_70b77881908e6aa770ab9c8917454515 = geocoderOpts_geocoder_70b77881908e6aa770ab9c8917454515["provider"];

            var customGeocoder_geocoder_70b77881908e6aa770ab9c8917454515 = L.Control.Geocoder[ geocoderName_geocoder_70b77881908e6aa770ab9c8917454515 ](
                geocoderOpts_geocoder_70b77881908e6aa770ab9c8917454515['providerOptions']
            );
            geocoderOpts_geocoder_70b77881908e6aa770ab9c8917454515["geocoder"] = customGeocoder_geocoder_70b77881908e6aa770ab9c8917454515;

            L.Control.geocoder(
                geocoderOpts_geocoder_70b77881908e6aa770ab9c8917454515
            ).on('markgeocode', function(e) {
                var zoom = geocoderOpts_geocoder_70b77881908e6aa770ab9c8917454515['zoom'] || map_2a1459c01c39fcc420985ab058fb9fab.getZoom();
                map_2a1459c01c39fcc420985ab058fb9fab.setView(e.geocode.center, zoom);
            }).addTo(map_2a1459c01c39fcc420985ab058fb9fab);

        
    
            L.control.fullscreen(
                {"forceSeparateButton": true, "position": "topright", "title": "Expand me", "titleCancel": "Exit me"}
            ).addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    
            var marker_749fdc173c3656b92174d80327d27bf4 = L.marker(
                [-22.2152409, -49.9665217],
                {}
            ).addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    
            var icon_4a64191fba1e6e6828c894f9ccf00ab1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_749fdc173c3656b92174d80327d27bf4.setIcon(icon_4a64191fba1e6e6828c894f9ccf00ab1);
        
    
            var marker_8a7bd946709a99b2ea7d41cbdfd60119 = L.marker(
                [-22.2365073, -49.9689695],
                {}
            ).addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    
            var icon_6bbaf3eece59a9b326488d00ebc5a54f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8a7bd946709a99b2ea7d41cbdfd60119.setIcon(icon_6bbaf3eece59a9b326488d00ebc5a54f);
        
    
            var marker_47f6af4bdd109296c9e49058236c82d3 = L.marker(
                [-27.1235439, -52.6159024],
                {}
            ).addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    
            var icon_f1341f4cde8c334beb48f2af9642e958 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_47f6af4bdd109296c9e49058236c82d3.setIcon(icon_f1341f4cde8c334beb48f2af9642e958);
        
    
            var marker_37088e4de402626614aa833ad548ffe5 = L.marker(
                [-5.1180954, -36.6300622],
                {}
            ).addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    
            var icon_84f7cb9921bb46d9bb0e4f64db3065e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_37088e4de402626614aa833ad548ffe5.setIcon(icon_84f7cb9921bb46d9bb0e4f64db3065e9);
        
    
            var marker_f301ccb7ebda6fd972fe43e3a13fd44f = L.marker(
                [-22.2145962, -49.9782839],
                {}
            ).addTo(map_2a1459c01c39fcc420985ab058fb9fab);
        
    
            var icon_8c55bee2ddd2cb49623a5273671ca0c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f301ccb7ebda6fd972fe43e3a13fd44f.setIcon(icon_8c55bee2ddd2cb49623a5273671ca0c4);
        
</script>
</html>