<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_58bea33f39de455181e76cdcce22272d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.css"/>
</head>
<body>
    
    
     <div style="position: fixed; 
     bottom: 5px; left: 5px; width: 200px; height: 200px; 
     border: 2px solid grey; z-index: 9999; font-size: 18px;
     background-color: white; text-align: center; padding: 10px;
     border-radius: 6px;
     ">&nbsp; <b style="font-size: 22px">Legenda</b> <br>
     &nbsp; Buraco &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#d53e2a"></i><br>
     &nbsp; Semáforo &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#36a3d3"></i><br>
     &nbsp; Vazamento &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#6eaa25"></i><br>
     &nbsp; Obstrução &nbsp; <i class="fa fa-map-marker fa-2x" style="color:#2e2e2e"></i><br>
      </div>
     
    
     <button style="position: fixed; ">Confirmar</button>
     
    
            <div class="folium-map" id="map_58bea33f39de455181e76cdcce22272d" ></div>
        
</body>
<script>
    
    
            var map_58bea33f39de455181e76cdcce22272d = L.map(
                "map_58bea33f39de455181e76cdcce22272d",
                {
                    center: [-22.2127829, -49.9557924],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fe6d19b8c45d6f196ef2091a35554de6 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_fe6d19b8c45d6f196ef2091a35554de6.addTo(map_58bea33f39de455181e76cdcce22272d);
        
    

            var geocoderOpts_geocoder_cf5fa014311951c248301960cad22f92 = {"collapsed": false, "defaultMarkGeocode": true, "position": "topright", "provider": "nominatim", "providerOptions": {}, "zoom": 11};

            // note: geocoder name should start with lowercase
            var geocoderName_geocoder_cf5fa014311951c248301960cad22f92 = geocoderOpts_geocoder_cf5fa014311951c248301960cad22f92["provider"];

            var customGeocoder_geocoder_cf5fa014311951c248301960cad22f92 = L.Control.Geocoder[ geocoderName_geocoder_cf5fa014311951c248301960cad22f92 ](
                geocoderOpts_geocoder_cf5fa014311951c248301960cad22f92['providerOptions']
            );
            geocoderOpts_geocoder_cf5fa014311951c248301960cad22f92["geocoder"] = customGeocoder_geocoder_cf5fa014311951c248301960cad22f92;

            L.Control.geocoder(
                geocoderOpts_geocoder_cf5fa014311951c248301960cad22f92
            ).on('markgeocode', function(e) {
                var zoom = geocoderOpts_geocoder_cf5fa014311951c248301960cad22f92['zoom'] || map_58bea33f39de455181e76cdcce22272d.getZoom();
                map_58bea33f39de455181e76cdcce22272d.setView(e.geocode.center, zoom);
            }).addTo(map_58bea33f39de455181e76cdcce22272d);

        
    
            L.control.fullscreen(
                {"forceSeparateButton": true, "position": "topright", "title": "Expand me", "titleCancel": "Exit me"}
            ).addTo(map_58bea33f39de455181e76cdcce22272d);
        
    
            var marker_af2f7179d030be8781c90cac095dcdb9 = L.marker(
                [-22.2365073, -49.9689695],
                {}
            ).addTo(map_58bea33f39de455181e76cdcce22272d);
        
    
            var icon_9bd0212af1de2346b146133bc2fe8b1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_af2f7179d030be8781c90cac095dcdb9.setIcon(icon_9bd0212af1de2346b146133bc2fe8b1c);
        
</script>
</html>